.Section {
  position: center fixed;
  background-image: url("https://www.skyfactory.com/videos/homepage/homepage_poster.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(188, 202, 200, 0.918);
  padding-bottom: 70px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  min-height: 600px;
}
.Section .container {
  margin-left: auto;
  margin-right: auto;
  min-height: 600px;
}
