.Temperature weather-temperature {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  justify-content: center;
}
.Temperature #temp {
  font-size: 90px;
  justify-content: center;
  position: relative;
  font-weight: 230;
  left: -9px;
}
.Temperature #temperatureMain {
  display: inline;
  font-size: 70px;
  color: aliceblue;
  font-weight: 200;
  mix-blend-mode: overlay;
  margin-bottom: 0px;
  position: relative;
  left: 13px;
  padding-left: 0%;
  width: fixed;
  justify-content: center;
}
.Temperature .weather-temperature temp {
  justify-content: center;
}
.Temperature .units {
  position: relative;
}
.Temperature .units:target {
  display: inline-block;
}
.Temperature .units,
#centigrados {
  line-height: 1;
  font-size: 20px;
  top: -50px;
  left: -2px;
  text-decoration: none;
  color: aliceblue;
}
#centigrados:hover {
  color: rgb(1, 236, 40);
  cursor: pointer;
}
#fahrenheit:hover {
  color: rgb(1, 236, 40);
  cursor: pointer;
}
#toggle-extras:target {
  display: inline-block;
}
.Temperature .Extras {
  font-size: 14px;
  display: block;
  text-align: left;
  color: aliceblue;
  font-weight: 200;
  width: fixed 10%;
  padding: 0;
  position: relative;
  float: right;
  left: -170px;
  top: -78px;
  line-height: 12px;
}

#humidity-input,
#wind-input {
  font-weight: 400;
  font-size: 14px;
}
.Temperature i {
  margin-right: 7px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 14px;
}
.Temperature il {
  margin-bottom: 20px;
  margin-top: 90px;
  margin-left: 65px;
}
