.Temperature weather-temperature {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.Temperature #temp {
  font-size: 90px;
  justify-content: center;
}
.Temperature #temperatureMain {
  display: inline;
  font-size: 70px;
  color: aliceblue;
  font-weight: 200;
  mix-blend-mode: overlay;
  margin-top: 60px;
  position: relative;
  left: 28px;
  padding-left: 0%;
  width: fixed;
  justify-content: center;
}
.Temperature .weather-temperature temp {
  justify-content: center;
}
.Temperature .units {
  position: relative;
  top: -50px;
  left: -4px;
}
.Temperature .units:target {
  display: inline-block;
}
.Temperature .units,
#centigrados,
#fahrenheit {
  line-height: 1;
  font-size: 20px;
  top: -50px;
  left: -10px;
  text-decoration: none;
  color: aliceblue;
}
#centigrados:hover {
  color: rgb(1, 236, 40);
  cursor: pointer;
}
#fahrenheit:hover {
  color: rgb(1, 236, 40);
  cursor: pointer;
}
#toggle-extras:target {
  display: inline-block;
}
.Temperature .Extras {
  font-size: 15px;
  display: block;
  text-align: left;
  color: aliceblue;
  font-weight: 300;
  width: fixed 20%;
  padding: 0;
  position: relative;
  float: right;
  left: -170px;
  top: 47px;
  line-height: 12px;
}
#humidity-input,
#wind-input {
  font-weight: 400;
}
.Temperature i {
  margin-right: 4px;
}
.Temperature il {
  margin-bottom: 20px;
  margin-top: 90px;
  margin-left: 65px;
}
